{% layout settings.customer_layout %}

<div id="template">
  <div id="customer">
    <div class="template_header">
      <h2 class="customer_account_title signin_title">MY ACCOUNT</h2>
    </div>

    <div class="create_account_box member_splash">
      <h3 class="account_login_header get_started_header">I'm a member</h3>
    </div>

    <div class="login_box hide">
      <h3 class="login_header">Log into your account</h3>

    {% form 'customer_login' %}
      {{ form.errors | default_errors }}

      <div id="login_email" class="clearfix large_form">
        <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" placeholder="Email Address" />
      </div>

      {% if form.password_needed %}

        {% comment %}
          Customer Account Login
        {% endcomment %}

        <div id="login_password" class="clearfix large_form">
          <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" placeholder="Password" />
          <div id="forgot_password">
            <a href="" class="forgot_password" onclick="showRecoverPasswordForm();return false;">Forgot Password?</a>
          </div>
        </div>

      {% endif %}

      <div class="action_bottom">
        <input class="btn" type="submit" value="Continue" id="account_continue" />
        <!-- <span class="note">or <a href="{{ shop.url }}">Return to Store</a></span> -->
      </div>
    {% endform %}

    {% comment %}
      Recover Password Form
    {% endcomment %}

    <div id="recover-password" style='display:none'>
      <div class="arrow_up"></div>
      <div class="template_header forgot_password_container">
        <div class="close_forgot_password">
          <a href="#" onclick="hideRecoverPasswordForm();return false;">x</a>
        </div>
        <h2 class="title forgot_title">FORGOT YOUR PASSWORD?</h2>
        <p class="note center forgot_password_note">
          Don’t worry. Enter your email address and we’ll send you a new password immediately.
        </p>
        {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}

        <div id="recover_email" class="clearfix large_form">
          <input type="email" value="" size="30" placeholder="Your email address" name="email" id="recover-email" class="large" />
        </div>
        <div class="action_bottom forgot_bottom">
          <input id="forgot_password_submit" class="btn" type="submit" value="Submit" />
          <!-- <span class="note">or <a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a></span> -->
        </div>
      {% endform %}
      </div>
    </div>




  </div> <!-- End login box -->



  

  <div class="create_account_box">
    <h3 class="account_login_header get_started_header">I want to get started</h3>
  </div>

  <div id="create-customer" class="create_account_container hide">
      <div class="template_header">
        <h2 class="title create_header">Create Account</h2>
      </div>

      {% form 'create_customer' %}
        {{ form.errors | default_errors }}

        <div id="first_name" class="clearfix large_form">
          <label for="first_name" class="login create_title">First name*</label>
          <input type="text" value="" name="customer[first_name]" id="first_name" class="large create_input" size="30" />
        </div>

        <div id="last_name" class="clearfix large_form">
          <label for="last_name" class="login create_title">Last name*</label>
          <input type="text" value="" name="customer[last_name]" id="last_name" class="large create_input" size="30" />
        </div>

        <div id="email" class="clearfix large_form">
          <label for="email" class="login create_title">Email address*</label>
          <input type="email" value="" name="customer[email]" id="email" class="large create_input" size="30" />
        </div>

        <div id="password" class="clearfix large_form">
          <label for="password" class="login create_title">Password*</label>
          <input type="password" value="" name="customer[password]" id="password" class="large password create_input" size="30" />
        </div>
        <div id="password" class="clearfix large_form">
          <label for="password" class="login create_title">Retype your password*</label>
          <input type="password" value="" name="customer[password]" id="password" class="large password create_input" size="30" />
        </div>
        <div id="zipcode" class="clearfix large_form">
          <label for="zipcode" class="login create_title">Password*</label>
          <input type="text" value="" name="customer[zipcode]" id="zipcode" class="large password create_input" size="30" />
        </div>

        <span class="create_required_span">*Required fields</span>

        <div class="action_bottom create_bottom">
          <input class="btn create_account_submit" type="submit" value="Submit" />
          <!-- <span class="note">or <a href="{{ shop.url }}">Return to Store</a></span> -->
        </div>
      {% endform %}
    </div><!-- /#create-customer -->





  </div> <!-- End customer div -->

  {% comment %}
    Guest Login form for shops with optional customer accounts. This form is displayed only when users click on the checkout link
    on the cart page.
  {% endcomment %}

  {% if shop.checkout.guest_login %}
  <div id="guest">
    <div class="template_header">
      <h3 class="title">Guest Login</h3>
    </div>
    {% form 'guest_login' %}
      <input class="btn" type="submit" value="Continue as Guest" />
    {% endform %}
  </div>
  {% endif %}
</div>


<script type="text/javascript">
  function showRecoverPasswordForm(event) {

    //$("#recover-password").show();

    document.getElementById('recover-password').style.display = 'inline-block';
    //document.getElementById('customer').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer').style.display = 'inline-block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
