{% assign shappify_options_loaded = "0" %}
<div id="product" class="{{ product.handle }}{% if product.images.size == 1 %} one_image{% endif %} clearfix product_margin">
  
  <div class="product_body clearfix">
    <div class="images">
      <div class="featured">
        <div class="image product_container_video">
          <a href="{{ product.featured_image.src | product_img_url: 'original' }}" class="cloud-zoom" rel="position: 'inside', showTitle: 'false'" id="placeholder"><img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" /></a>

          <div class="iframe_container">
            <iframe width="400" height="215" src="//www.youtube.com/embed/RlTbJZ64sVM" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div> <!-- /.featured -->
      {% if product.images.size > 1 %}
      <div class="thumbs clearfix">
        {% for image in product.images %}
        <div class="image">
          <a href="{{ image.src | product_img_url: 'original' }}" class="cloud-zoom-gallery" rel="useZoom: 'placeholder', smallImage: '{{ image.src | product_img_url: 'grande' }}', tint: '#ffffff'">
            <img src="{{ image.src | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" />
          </a>
        </div>
        {% endfor %}

        <div class="image">
          <a id="video_thumb" class="video_thumb_container" href="{{ product.images.first.src | product_img_url: 'original' }}" rel="useZoom: 'placeholder', smallImage: '{{ product.images.first.src | product_img_url: 'grande' }}', tint: '#ffffff'">
            <img src="{{ product.images.first.src | product_img_url: 'small' }}" alt="{{ product.images.first.src | escape }}" />
            <img class="video_play" src="http://cdn.shopify.com/s/files/1/0289/0446/files/video-icon.png?2231" />
          </a>
        </div>

      </div><!-- /.thumbs -->
      {% endif %}
      <div class="social">
        <span class='st_sharethis' displayText='Share'></span>
        <span class='st_email' displayText=''></span>
        <span class='st_facebook' displayText=''></span>
        <span class='st_twitter' displayText=''></span>
        <span class='st_googleplus' displayText=''></span>
        <span class='st_tumblr' displayText=''></span>
        <span class='st_pinterest' displayText=''></span>
      </div>
    </div> <!-- /.images -->

    <div class="content">
      {% if collection %}
      <div class="more-info clearfix">
        {% if collection.previous_product %}
        <div class="fl">
          <a href="{{ collection.previous_product }}" class="previous_product"><span class="upper">Previous</span> <span class="lower">Product</span></a>
        </div>
        {% endif %}
        {% if collection.next_product %}
        <div class="fr">
          <a href="{{ collection.next_product }}" class="next_product"><span class="upper">Next</span> <span class="lower">Product</span></a>
        </div>
        {% endif %}
      </div>
      {% endif %}
      
      <h2 class="title">{{ product.title }}</h2>
      <h3 class="product_price">{{ product.price_min | money }}</h3>

      <dl class="accordion">
        <dt><a class="product_description_title active" href="">Style Notes<span class="open_close_arrow open_rotate"><</span></a>
        </dt>
        <dd class="product_description_container">{{ product.description }}</dd>

        <dt><a class="product_description_title" href="">Details & Care<span class="open_close_arrow close_rotate"><</span></a>
        </dt>
        <dd class="product_description_container">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</dd>

        <dt><a class="product_description_title" href="">Alterations Credit<span class="open_close_arrow close_rotate"><</span></a>
        </dt>
        <dd class="product_description_container">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</dd>

        <dt><a class="product_description_title_last" href="">How to Get Measured<span class="open_close_arrow close_rotate"><</span></a>
        </dt>
        <dd class="product_description_container">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</dd>
      </dl>
      
      {% if settings.product_description_position == "bottom" %}
      <div class="description">
        {{ product.description }}
      </div>
      <div class="details"><span class="type">type: {{ product.type | link_to_type }}</span> <span class="vendor">by: {{ product.vendor | link_to_vendor }}</span></div>
      <div class="social">
        {% include 'like' %}
      </div>
      {% endif %}

      <div>
        <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix" enctype="multipart/form-data">
          {% if product.options.size > 1 %}
          <div class="select clearfix">
            <select id="product-select" name='id'>
              {% for variant in product.variants %}
              <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select> 

          </div>
          {% elsif product.options.size == 1 and product.variants.size > 1 %}
          <div class="select clearfix">
            <label>{{ product.options[0] }}</label>
            <select id="product-select" name='id'>
              {% for variant in product.variants %}
              <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
          </div>
          {% else %}
          <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
          {% endif %}        
          
          {% if product.available %} 
          <br/>
          <div class="steps_container">
            <div class="step2">
              <p>Please enter your measurements in centimeters.</p>
              <div class="measurements_container">
                <div class="left_measurements">
                  <input class="measurement_input" type="text" id="jacketlength" name="properties[Jacket Length]"><label>Jacket Length</label>
                  <input class="measurement_input" type="text" id="shoulder_width" name="properties[Shoulder Width]"><label>Shoulder Width</label>
                  <input class="measurement_input" type="text" id="neck_size" name="properties[Neck Size]"><label>Neck Size</label>
                  <input class="measurement_input" type="text" id="chest_size" name="properties[Chest Size]"><label>Chest Size</label>
                  <input class="measurement_input" type="text" id="bicep_size" name="properties[Bicep Size]"><label>Bicep Size</label>
                </div>
                <div class="middle_measurements">
                   <input class="measurement_input" type="text" id="wrist_size" name="properties[Wrist Size]"><label>Wrist Size</label>
                  <input class="measurement_input" type="text" id="sleeve_length" name="properties[Sleeve Length]"><label>Sleeve Length</label>
                  <input class="measurement_input" type="text" id="jacket_waist_size" name="properties[Jacket Waist Size]"><label>Jacket Waist Size</label>
                  <input class="measurement_input" type="text" id="stomach_size" name="properties[Stomach Size]"><label>Stomach Size</label>
                  <input class="measurement_input" type="text" id="pant_waist_size" name="properties[Pant Waist Size]"><label>Pant Waist Size</label>
                </div>
                 <div class="left_measurements">
                  <input class="measurement_input" type="text" id="hip_size" name="properties[Hip Size]"><label>Hip Size</label>
                  <input class="measurement_input" type="text" id="torso_length" name="properties[Torso Length]"><label>Torso Length</label>
                  <input class="measurement_input" type="text" id="inseam_length" name="properties[inseam_length]"><label>Inseam Length</label>
                  <input class="measurement_input" type="text" id="thigh_size" name="properties[Thigh Size]"><label>Thigh Size</label>
                  <input class="measurement_input" type="text" id="pant_length" name="properties[Pant Length]"><label>Pant Length</label>
                </div>
              </div>
              <div class="step3">
                <div class="error_text hide">We just need a few more measurements.</div>
                <div class="purchase clearfix">
                  <span><input id="add_button" type="submit" name="add" value="ADD TO BAG" class="cart cufon add_to_bag" /></span>
                </div>
                {% else %}
                <div class="purchase clearfix">
                  <span><input type="submit" name="add" value="SOLD OUT" class="cart cufon disabled" disabled="disabled" /></span>
                </div>
                {% endif %}
                <div class="clear">Product Code:</div>
                <div id="add_popup" class="add_popup hide">
                  <h3 class="popup_heading">1 item added to bag</h3>
                  <p class="popup_helper">(you have {{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }} in your bag)</p>
                  <div class="popup_product_container">
                    <figure class="popup_image">
                      <img src="{{ product.featured_image.src | product_img_url: 'small' }}" alt="{{ product.featured_image.alt | escape }}">
                    </figure>
                    <div class="popup_product_text_container">
                      <p class="popup_product_title">{{ product.title }}</p>
                      <p class="popup_product_text">Unit Price: {{ product.price_min | money }}</p>
                      <p class="popup_product_color">Color: {{ product.options.color }}</p>
                      <p class="popup_product_text">Quantity: 1</p>
                    </div>
                  </div>
                  <div class="popup_buttons">
                    <input type="submit" name="add" value="VIEW BAG" class="cart cufon add_to_bag popup_button" />
                    <input type="submit" id="checkout" name="checkout" value="PURCHASE" class="cart cufon add_to_bag popup_button popup_purchase" />
                  </div>
                </div>
              </div>
            </div>
            </div>
            </div>
          </div>
          
        </form>
      </div> <!-- End form container -->

    </div>

  </div> <!-- /.product_body -->

  
  
  {% if collection and collection.products.size > 1 %}
  
  <div class="more-info">
    <span class="upper">More Products</span>
    <span class="lower">From This Collection</span>
  </div>
  
  <div class="slider-container">
    <div id="content-scroll" class="scroll">
      <div id="content-slide">
        {% for product in collection.products %}
        {% include 'product-slide-small' %}
        {% endfor %}
      </div><!-- /#latest-products -->
    </div>
    <div class="slider">
      <span class="ui-slider-handle">&nbsp;</span>
    </div>
  </div>
  {% endif %}

  <div id="recently-viewed" style="display:none;">
    
    <div class="more-info">
      <span class="upper">Recently</span>
      <span class="lower">Viewed Items</span>
    </div>
    
    <div id="content-table" class="products clearfix">

    </div>
  </div> <!-- /#recently-viewed -->

</div> <!-- /#product -->


<script type="text/javascript">

// <![CDATA[  
var selectCallback = function(variant, selector) {
  if (variant && variant.available == true) {
    // selected a valid variant
    jQuery('#add-to-cart').removeClass('disabled').removeAttr('disabled').val('Add to Cart'); // remove unavailable class from add-to-cart button, and re-enable button
    if(variant.price < variant.compare_at_price){
      jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{shop.money_format}}") + " <span>was " + Shopify.formatMoney(variant.compare_at_price, "{{shop.money_format}}") + "</span>");
    } else {
      jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{shop.money_format}}"));
    }

  } else {
    var message = variant ? "Sold Out" : "Unavailable";    
    jQuery('#add-to-cart').addClass('disabled').attr('disabled', 'disabled').val(message);      // set add-to-cart button to unavailable class and disable button
    jQuery('#product .variants .price').text(message); // update price-field message
  }
};

function remove(s, t) {
  /*
  **  Remove all occurrences of a token in a string
  **    s  string to be processed
  **    t  token to be removed
  **  returns new string
  */
  i = s.indexOf(t);
  r = "";
  if (i == -1) return s;
  r += s.substring(0,i) + remove(s.substring(i + t.length), t);
  return r;
}

// initialize multi selector for product
jQuery(function() {
  if(jQuery.cookie("viewed-products") != null){ // if cookie exists...
    var products = jQuery.cookie("viewed-products");
    var productHandles = products.split(" ");
    var matches = 0;
    var limit = 4;
    for(var i = (productHandles.length - 1); i >= 0; i--) {
      if(productHandles[i] != "{{ product.handle }}" && productHandles[i] != "" && (matches < limit)){
        Shopify.getProduct(productHandles[i]);
        matches++;
      }
    }

    if(products.indexOf("{{ product.handle }}") == -1){ // add current product to list if it isn't already there
    products += " {{ product.handle }}";
    jQuery.cookie("viewed-products", products, {path: "/"});
    } else { // if it is already there, push it to the end of the string
      var newstring = remove(products, '{{ product.handle }}');
      newstring += " {{ product.handle }}";
      jQuery.cookie("viewed-products", newstring.replace(/ /g,' '), {path: "/"});
    }
    } else { // create cookie if it doesn't already exist
    jQuery.cookie("viewed-products", "{{ product.handle }}", {path: "/"});
  }
  
  {% if product.variants.size > 1 or product.options.size > 1 %}
  new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
  
    {% assign found_one_in_stock = false %}
    {% for variant in product.variants %}
      {% if variant.available and found_one_in_stock == false %}
        {% assign found_one_in_stock = true %}
        {% for option in product.options %}
          jQuery('#product-select-option-' + {{ forloop.index0 }}).val({{ variant.options[forloop.index0] | json }}).trigger('change');
        {% endfor %}
      {% endif %}
    {% endfor %}
    
  {% endif %}
});
// ]]>
</script>